In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("students_placement.csv")

In [4]:
df.head()

   cgpa   iq  profile_score  placed
0  5.97  106             61       0
1  6.83  113             77       0
2  6.60  110             61       0
3  5.54  113             68       0
4  6.84  102             67       0

In [6]:
df.shape

(300, 4)

In [7]:
df.sample()

    cgpa   iq  profile_score  placed
67  5.56  107             95       0

In [8]:
df.sample(10)

     cgpa   iq  profile_score  placed
76   6.99   94             73       1
68   5.23  111             75       0
59   6.45  107             63       0
220  7.23   89             58       1
47   8.09   97             80       1
105  7.35   93             45       1
217  7.21  104             76       1
259  5.13  114             54       0
291  7.83  101             41       1
126  6.73  101             70       0

In [9]:
X = df.drop(columns=['placed'])
y = df['placed']

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
scaler = StandardScaler()
X_train_trf = scaler.fit_transform(X_train)
X_test_trf = scaler.transform(X_test)
accuracy_score(y_test,
               LogisticRegression()
               .fit(X_train_trf,y_train)
               .predict(X_test_trf))

0.8833333333333333

In [12]:
from sklearn.ensemble import RandomForestClassifier
accuracy_score(y_test,RandomForestClassifier().fit(X_train,y_train).predict(X_test))

0.8666666666666667

In [16]:
from sklearn.svm import SVC
accuracy_score(y_test,SVC(kernel='rbf').fit(X_train,y_train).predict(X_test))

0.9333333333333333

In [14]:
svc = SVC(kernel='rbf')
svc.fit(X_train,y_train)

SVC()

In [17]:
rf = RandomForestClassifier()
rf.fit(X_train,y_train)

RandomForestClassifier()

In [18]:
import pickle 
pickle.dump(svc,open('model.pkl','wb'))

In [19]:
rf.predict(np.array([4.5,56,10]).reshape(1,3))

array([1], dtype=int64)